<div id="footer">
  <div id="copyright">
    <%= link_to "Open Source Forum Software - Version: #{Forum::Application::VERSION}", 'https://github.com/mschnitzer/forum', target: '_blank' %>
  </div>
</div>
