<div class="btn-list-right">
  <%= link_to board_threads_new_path(board), class: 'btn btn-primary btn-sm' do %>
    <%= icon('fas', 'plus', class: 'board-icon fa-1x color-white') %>
    <%= I18n.t(:thread_new) %>
  <% end %>
</div>
<div class="clear-both"></div>
