body {
  background-color: #efefef;
}

#user-cp {
  background-color: #002768;
  color: #ffffff;
  padding: 8pt;
  font-size: 15px;

  .item {
    background-color: #002768;
    padding: 8pt;

    a:link, a:visited {
      padding: 8pt;
      color: #ffffff !important;
      text-decoration: none !important;
    }

    a:active, a:hover {
      padding: 8pt;
      color: #ffffff !important;
      background-color: #002259;
      text-decoration: none !important;
    }
  }
}

#header {
  background-color: #12299b;
  font-size: 20pt;
  text-align: center;
  color: #ffffff;
  padding-top: 30pt;
  padding-bottom: 30pt;

  a:link, a:visited {
    color: #ffffff;
    text-decoration: underline;
  }

  a:active, a:hover {
    color: #ffffff;
    text-decoration: none;
  }
}

#content {
  background-color: #ffffff;
  padding: 20pt;
}

.box {
  @extend .card;

  .header {
    @extend .card-header;

    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;

    color: #ffffff;
    font-weight: bold;
    letter-spacing: 1.2px;
    background-color: #002768;

    border-left: 1px solid #002768;
    border-right: 1px solid #002768;
    border-bottom: 1px solid #002768;
  }

  .body {
    @extend .card-body;
  }
}

.box-shadow {
  @extend .card;

  -webkit-box-shadow: 1px 10px 20px -9px rgba(0,0,0,0.63);
  -moz-box-shadow: 1px 10px 20px -9px rgba(0,0,0,0.63);
  box-shadow: 1px 10px 20px -9px rgba(0,0,0,0.63);

  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;

  .header {
    @extend .card-header;

    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;

    color: #ffffff;
    font-weight: bold;
    letter-spacing: 1.2px;
    background-color: #002768;

    border-left: 1px solid #002768;
    border-right: 1px solid #002768;
    border-bottom: 1px solid #002768;
  }

  .body {
    @extend .card-body;
  }
}

.boards {
  border-left: 1px solid #e5e4e3;
  border-right: 1px solid #e5e4e3;
  border-bottom: 1px solid #e5e4e3;
}

.board-description {
  font-size: 15px;
}

.board-name {
  font-size: 20px;

  a:link, a:visited {
    color: #e86502;
    text-decoration: none;
  }

  a:active, a:hover {
    color: #a34701;
    text-decoration: none;
  }
}

#footer {
  padding-top: 10pt;
  font-size: 13px;

  #copyright {
    text-align: center;
  }
}

label {
  font-weight: bold;
}

.info-text {
  font-size: 12px;
  color: #8f8f8f;
}

.thread-disabled {
  @extend .table-success;
}

#page-title {
  font-size: 15pt;
  font-weight: bold;
}

.post {
  border: 1px solid #000000;
  margin-bottom: 20pt;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.38);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.38);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.38);
}

.post-header {
  padding: 6pt 12pt 6pt 12pt;
  border-bottom: 1px dotted #353535;
}

.post-title {
  font-size: 18px;
  font-weight: bold;
}

.post-author {
  min-height: 180px;
  border-right: 1px solid #000000;
  width: 220px;
  float: left;
  padding: 8pt;
  background-color: #f5f5f5;
}

.post-author-name {
  text-align: center;
}

.post-content {
  overflow: hidden;
  min-height: 180px;
}

.post-content-inner {
  font-size: 14px;
  padding: 6pt 12pt 6pt 12pt;
}

.post-author-disabled {
  background-color: #d2ffd4 !important;
}

.post-content-disabled {
  background-color: #e7ffe8 !important;
}

.post-time {
  font-size: 11px;
}

.post-header-details {
  float: left;
}

.post-header-counter {
  float: right;
}

.post-counter {
  @extend .badge;
  @extend .badge-pill;
  @extend .badge-dark;
}

.post-counter a {
  color: #ffffff;
  text-decoration: none;
}

.board-icon {
  color: #002768;
}

.board-info {
  padding-left: 10pt;
}

#breadcrumbs {
  background-color: #efefef;
  padding: 5pt 20pt 5pt 20pt;
  font-size: 13px;

  a:link, a:visited {
    color: #000000;
    text-decoration: none;
  }

  a:active, a:hover {
    color: #000000;
    text-decoration: underline;
  }
}
